<% if(msg) { %>
<section class="msg">
  <div class="container flow">
    <a class="add-child btn-primary" href="/employee">OK</a>
  </div>
</section>
<% } %> <% if(message.length > 0) { %>
<section class="msg">
  <div class="container flow">
    <h4><%= message%></h4>
    <a class="add-child btn-primary" href="<%= link? link : '/employee' %>">OK</a>
  </div>
</section>
<% } %>
