<%- include('../partials/head') %>
<body>
  <%- include('../partials/msg') %> <%- include('../partials/header') %>
  <section>
    <div class="container">
      <h1>404</h1>
    </div>
  </section>
  <%- include('../partials/footer') %>
</body>
